body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}


.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  opacity: 0.3;
}

.features-list {
  list-style: none;
}

.features-item h2,
.page-title {
  font-size: 55px;
  line-height: 55px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.features-item a {
  background-color: #fb565a;
}

.features-item a:hover {
  background-color: #e74246;
}

.features-item a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.features-list li:first-child {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.features-list li:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.features-list li:last-child {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: right;
}

.services-list {
  list-style: none;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-item:first-child a {
  background-color: #fb565a;
}

.service-item:first-child a:hover {
  background-color: #e74246;
}

.service-item:first-child a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.service-item:nth-child(2) a {
  background-color: #00ca74;
}

.service-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(2) a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.service-item:last-child a {
  background-color: #efc849;
}

.service-item:last-child a:hover {
  background-color: #eab534;
}

.service-item:last-child a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.item-description {
  text-align: center;
}

.description b {
  font-size: 45px;
  line-height: 45px;
}

.description h4 {
  text-transform: uppercase;
}

.description-orders {
  list-style: none;
}

.advantages h4 {
  text-transform: uppercase;
}

.our-partners {
  list-style: none;
}

.filter-title,
.sorting-title,
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter label {
  color: #283136;
  line-height: 20px;
}

.filter-button {
  color:#000000;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus {
  opacity: 0.3;
  background-color: #d5d5d5;
}

.sorting ul {
  list-style: none;
}

.sorting-text {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sorting-text:hover {
  opacity: 0.6;
}

.sorting-text:focus:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
}

.item-description {
  background-color: #eeeeee;
}

.item-description h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.item-description p {
  line-height: 18px;
  color: #666666;
}

.item-description a {
  background-color: #fb565a;
}

.item-description a:hover {
  background-color: #e74246;
}

.item-description a:focus {
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.pagination-item-current {
  border: 2px solid #dbdbdb;
}

.contacts {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
}

.footer-social ul {
  list-style: none;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
}

.main-footer p {
  line-height: 22px;
}

.modal {
  color: #000000;
  background-color:#ffffff;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
}

.write-form input[type="text"],
.write-form textarea {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.write-form input:hover {
  border-color: #b4b9bb;
}

.write-form input:focus {
  border-color: #000000;
  color: #444444;
}

.write-form label {
  line-height: 18px;
  font-weight: bold;
}

.contacts-button {
  background-color: #fb565a;
}
