body {
  margin: 0;
  padding: 0;
  min-width: 1160px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- HEADER ----- */

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;

  color: #000000;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  padding-top: 49px;
}

.nerds-logo[href]:hover,
.nerds-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 160px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  margin-top: 75px;

  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);

}

.site-navigation .current {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 4px;
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 85px;
  padding-right: 0;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 45px;

  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ----- MAIN ----- */

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.services {
  border-bottom: 2px solid #eeeeee;
}


.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
}

.service-item {
  width: 300px;
  min-height: 146px;
  margin: 0;
  padding: 0;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.service-item p {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.service-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.service-item-button {
  width: 160px;
}

.service-item:first-child a {
  background-color: #fb565a;
}

.service-item:first-child a:hover {
  background-color: #e74246;
}

.service-item:first-child a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.service-item:nth-child(2) a {
  background-color: #00ca74;
}

.service-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(2) a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.service-item:last-child a {
  background-color: #efc849;
}

.service-item:last-child a:hover {
  background-color: #eab534;
}

.service-item:last-child a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
}

.description {
  width: 660px;
  padding-top: 75px;
  padding-bottom: 73px;
}

.description-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  padding: 0;
}

.description-about {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-top: 32px;
}

.description h4 {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  text-transform: uppercase;
}

.description-orders {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-item {
  padding: 0;
  padding-top: 24px;
  padding-left: 36px;
}

.order-item::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 23px;
  margin: 11px;
  border: 1px solid #fb565a;
}

.advantages {
  text-align: center;
  width: 360px;
}

.advantages img {
  padding-top: 40px;
}

.advantages h4 {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  text-transform: uppercase;
}

.advantages-table {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: left;
}

.advantages-table th {
  padding: 0;
  padding-top: 10px;
  padding-right: 23px;
  font-weight: normal;
  line-height: 18px;
}

.advantages-table td {
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
  padding: 0;
  padding-right: 18px;
}

.advantages-table sup {
  font-size: 60%;
}

.partners {
  padding-top: 50px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.our-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  list-style: none;
}

.item-partner {
  position: relative;
  width: 260px;
  text-align: center;
}

.item-partner:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #eeeeee;
}

.partners-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 90px;
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

/*---footer---*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  position: relative;
  height: 416px;
  margin-bottom: 69px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.map iframe {
  position: relative;
  width: 100%;
  height: 416px;

  z-index: 2;

  border: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;

  top: 54px;
  width: 320px;
  min-height: 308px;
  background-color: #ffffff;
  color: #666666;
  padding: 50px 50px 47px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  z-index: 3;
}

.contacts-button {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  color: #000000;
}

.contacts p {
  width: 216px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.contacts p:nth-of-type(2) {
  margin-bottom: 36px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 68px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #b74246;
          box-shadow: inset 0 3px 0 0 #b74246;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 760px;
  padding-top: 7px;
}

.slogan-header {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.slogan-info {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-size: 16px;
  line-height: 22px;

  color: #444444;
}

/* ----- catalog.html ----- */

.caption {
  background-color: #eeeeee;
  margin-bottom: 53px;
}

.page-title {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-top: 68px;
  padding-bottom: 109px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-cost,
.filter-grid,
.filter-features {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;

  border: none;
}

.filter-cost {
  margin-bottom: 55px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.filters {
  width: 262px;
}

.filter-title,
.sorting-title,
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter-item legend {
  margin: 0;
  padding: 0;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 36px;
}

.filter-button {
  width: 260px;
  font-weight: 500;
  color:#000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: #000000;
  opacity: 0.3;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width:25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before,
.filter-input-checkbox:checked + label::before {
  visibility: hidden;
}

.filter-input-radio:checked:focus + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::after,
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.filter-option input[type="radio"]:disabled + label:before, [type="checkbox"]:disabled + label:before {
  opacity: 0.1;
}

.filter-form input[type="radio"]:disabled + label, [type="checkbox"]:disabled + label {
  opacity: 0.3;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin-bottom: 49px;
}

.sorting-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-title {
  width: 360px;
}

.sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 272px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting-text {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sorting-text:hover {
  opacity: 0.6;
}
.sorting-tools .current,
.sorting-text:active {
  opacity: 1;
}

.sorting-pointer  {
  width: 60px;
}

.point-up,
.point-down {
  position: relative;
  margin-right: 25px;
}

.point-up::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 23px;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;

  opacity: 0.2;
}

.point-down::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 19px;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;

  opacity: 0.2;
}

.point-up:hover::before,
.point-down:hover::before {
  opacity: 0.6;
}

.point-up:active::before,
.point-down:active::before {
  opacity: 1;
}

.sorting-pointer-current::before {
  opacity: 1;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item img {
  display: block;
  outline: 1px solid #e5e5e5;
  outline-offset: -1px;
  background-color: #e9e9e9;
}

.catalog-item:hover > .item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover > .catalog-header {
  opacity: 1;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.12;
}

.item-description {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 43px;
  background-color: #eeeeee;
  color: #000000;
}

.item-info {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}

.item-description h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.item-description p {
  margin: 0;
  margin-bottom: 30px;
  line-height: 18px;
  color: #666666;
}

.item-description .button {
  width: 200px;
  margin: 0 auto;

  background-color: #fb565a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-description .button:hover {
  background-color: #e74246;
}

.item-description .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 1);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  padding: 16px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-weight: 500;
  padding: 16px 21px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  background-color: #dfdfdf;
}

.pagination-link[href]:active {
  color: #959595;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
}

.pagination-link-current {
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
          box-shadow: inset 0 0 0 3px #dbdbdb;
  background-color: inherit;
}

.pagination-link-button {
  padding-left: 78px;
  padding-right: 78px;
  text-transform: uppercase;
}

.inner-page .main-footer {
  margin-top: 46px;
}

/*---modal---*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  color: #000000;
  z-index: 4;

  background-color:#ffffff;
}

.write-us {
  display: none;
  top: 170px;
  left: 50%;
  width: 760px;
  margin-left: -480px;
  padding: 100px;
  padding-top: 65px;
  padding-bottom: 84px;
  -webkit-box-shadow:
   0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow:
   0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.write-us h2 {
  margin: 0;
  margin-bottom: 42px;
  font-size: 45px;
  line-height: 45px;
}

.write-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.write-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
}

.write-form p:nth-child(3) {
  margin: 0;
  margin-bottom: 48px;
}

.write-form input[type="text"],
.write-form textarea {
  font: inherit;
  padding: 11px 13px;
  margin-top: 10px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.write-form textarea {
  width: 760px;
  height: 118px;
  resize: none;
}

.write-form input[type="text"] {
  width: 360px;
}

.write-form input[type="text"]:hover,
.write-form textarea:hover {
  border-color: #b4b9bb;
}

.write-form input:focus,
.write-form textarea:focus {
  border-color: #000000;
  color: rgba(68, 68, 68, 1);
  outline: 0;
}

.modal-error input[type="text"] {
  color: #e74246;
  border-color: #e74246;
}

.write-form label {
  line-height: 18px;
  font-weight: bold;
}

.modal-close {
  position: absolute;
  top: 76px;
  right: 90px;
  width: 21px;
  height: 21px;

  font-size: 0;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;

  opacity: 0.3;
  cursor: pointer;
}

.write-us button:not(.modal-close) {
  width: 260px;
}
